@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  box-sizing: border box;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

h1{
  font-weight: 900;
  color: #FFEFB7;
  text-shadow: #26107e 0.1em 0.1em 0.2em ;
}

h2{
  color: #FFEFB7;
  font-weight: 700;
  text-shadow: #26107e 0.1em 0.1em 0.2em ;
}

header {
  background-color: #280f8f;
  text-align: center;
  padding: 20px;
}

main{
  width: 100%;
  text-align: center;
  height: 80em;
  text-align: justify;
  padding: 0;
  background-color: #140f4C;
}

h3{
  font-weight: 1200;
  color: #FFEFB7;
}

.cont {
  border-radius: 3em;
  padding: auto;
  width: auto;
  align-content:center  ;
  text-align: center;
  float: left;
  margin:5%;
  width: 40%;
  background-color: #241f7C;
  height: 10em;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.entrar {
 
    border-color: aliceblue;
    border-width: 5px;
}
